:root {
    --dark-blue: #1f2937;
    --light-blue: #3b82f6;
    --grey: #e5e7eb;
    --white: #dcdcdc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-family: "Roboto", sans-serif;
    /* text-align: center; */
    height: 100vh;
    width: 100vw;  
}

a {
    text-decoration: none;
    color: var(--white);
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--dark-blue);
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}

.tittle {
    font-weight: 900;
    font-size: 2rem;
}

.tittle > span {
    color: var(--light-blue);
}

.nav-item-container {
    display: flex;
    margin-left: 60rem;
}

.nav-item {
    list-style-type: none;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 700;

}

.banner-container {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    padding: 3rem 10rem;
    gap: 2rem;
    background-color: var(--dark-blue);
}

.banner-left-section {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    gap: 20px;
}

.banner-left-section h2 {
    font-weight: 700;
    font-size: 3.5rem;
}

.banner-left-section p {
    font-size: 1rem;
    line-height: 1.2rem;
}

.banner-left-section button {
    font-size: 1.2rem;
    padding: 10px 15px;
    max-width: 150px;
    border-radius: 10px;
    border: none;
    background-color: var(--light-blue);
}

.banner-left-section button:hover {
    transform: scale(1.2);
}

.banner-right-section {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-right-section img {
    max-width: 600px;

}